

.computer-image-button{

  width: 100%;  
  margin-left: -15%;  

}


.computer-image-button:hover {
    animation: shake 0.5s; 
}
.computer-screen{

width: 60vw;
 
}

.terminal-screen{
  background-color: #828282;

   border-radius : 10px 10px 0 0 ; 


}
.closing-myproject-modal{
  width: 5%;
  margin :1%;

}

.terminal{
  background-color: #000000;
  padding: 5%;
  border-radius : 0 0 10px 10px; 
  overflow-x: scroll; 
}
 

.second-line{
  display: flex;
}
.third-line{
  display: flex;
}


.terminal p{ 
  font-family: Ayuthaya;
   color: #00F300;
   font-size: 1.3vw
   
}
.typing-1{
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10px;
  opacity: 0;
  border-right: 5px solid  #00F300;
  animation: type1 3s steps(30) forwards;
  animation-delay: 0.5s;
}
@keyframes type1 {
  0%{ 
    opacity: 1; 
    width: 0ch }
  100% { 
     opacity: 1; 
     width: 22ch;
     border: none;
    
  }
}

.show-p-tag {
  animation: showMe 0s 3s forwards;
  opacity: 0; 
}

@keyframes showMe {
  to   { opacity: 1; }
  
}

.typing-2{
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  margin-left: 10px;
  border-right: 5px solid  #00F300;
  animation: type2 0.5s steps(2) forwards ;
  animation-delay: 3s;
  
}
@keyframes type2 {
 from{ 
    opacity: 1; 
    width: 0ch
  }
 
  to { 
    opacity: 1; 
    width: 2ch ;
    border: none;
  }
}

.show-project-list {
  animation: showMe 0s 4s forwards;
  opacity: 0; 

}


.show-project-list a p:hover {
  color: aqua;
}








