.aboutme-wrapper{

    
}
.aboutme-image-button{
    width: 90%;    
}
.aboutme-image-button:hover {
    animation: shake 0.5s;
} 

.background-modal-me{
    width: 65vw;
    position: relative;
}
.full-me-image{
    width: 50vw;
    position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}
.aboutme-section{
    font-size: 0.9vw;
    width: 24vw;
    height: 16vw;
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    color: black;
}
.closing-buttom{
    width: 4vw;
    position: absolute;
    left:25px;
    margin-top: 0.7%;
}

