
.resume-wrapper{
 
}
.resume-image-buttom{

   width: 100% 
}

.resume-image-buttom:hover {
    animation: shake 0.5s;  
}


.background-image-modal{

    width: 70vw;
    height: auto;
    
}
.item-modal{
     margin-top: 50px;
}

.resume-contact{
    width: 50vw;
    background-color: white;
    position: absolute;
    top:100px;
}

.resume-modal .ant-modal-content {
    margin-top: 10%;
}



  .resume-info{
    position: absolute;
    top :2vh;
    right:20px;
    text-align: right;
  }

  .resume-btn{

    width: 7vw;
    margin-top: 5px;
    margin-right: 20px;
  }


  .button_continer{
    width:20vw;
    height:30vh;  
    position:absolute;
    right:1px; 
    top:5%;

  }

  .img_button_continer{
    position: relative;
    background-color:#E9EA6F;
    padding:"" ;
    border:30px dotted #F36F21
  }


 @media screen and (max-width: 700px) {

  .button_continer{
    width:23vw;

  }
 
  .img_button_continer{
  
    border:20px dotted #F36F21
  }
 }

