

.contact-image-button{


   width: 17% ;
   position: absolute;
  top :50%;
  right:10%;
   
}



.contact-image-button:hover {
  animation: shake 0.5s;

}
.contact-modal-body{
  position: relative;
  text-align: center;
}
.contact-modal-background{
  width: 33vw
}
.contact-me-content{
  padding-top: 10px;
  width: 20vw;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-me-content p{

  text-align: left;
  color: #3B3B3B  ;
  font-size: 1.25vw;
  border-bottom: 2px solid#3385ff;
  padding-bottom: -1px;
  font-family: Chalkboard;

}
 .contact-me-content a{
  color: #3B3B3B  ;
}  
 

.contact-me-content a:hover{
  color: #6699ff;

}
.contact-close-modal{
  width: 4vw;
  position: absolute;
  left: 3%; 
  margin-top: 3%;
} 
/* media querry when th screan is smalle tha loptom the model should be smaller  */