body{
    background: #3C9FD6;   
   /*  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}
.main-content{
  display: flex;
  /* justify-content:space-evenly; */
   align-items: center; 

  width: 70vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}


@media screen and (max-width: 992px) {
 
  .main-content{
   display: flex;
   flex-direction:column;
    width: 70vw;
    position: absolute;
    top: 0 !important;
    left: 0% !important;
    transform: translate(0, 0);
    margin-left: 15%;
   
  }
  .aboutme-image-button{
    margin-top: 10% ;

    margin-left: 6% !important;  
    width: 80vw;   
  
}
.contact-image-button{
  position: static;
  width: 70%;  
  margin-top: -60%;
}

.computer-image-button{
  margin-left: 0 !important;  
  width: 90vw ;    
}
.resume-image-buttom{
  margin-top: 20%;  
  margin-left: 15%;  
  width: 80%;  
}


/* ptoject modal */
.computer-screen {
  width: 80vw;
}
.terminal p {
  font-size: 12px;
}
.second-line{
  display: inline-block;
}
.third-line{
  display: inline-block;
}

/* about me moadl */

.background-modal-me{
  width: 80vw;
  position: relative;
}
.full-me-image{
  width: 60vw;


}
.aboutme-section{
  font-size:10px;
  margin-left: -10px;
  width: 27vw;
   height: 20vw; 
   overflow-y: scroll;

}
/* contact me */
.contact-modal-background{
  width: 80vw
}
.contact-me-content{
  padding-top: 5px;
  width: 49vw; 
 

}

.contact-me-content p{
  font-size: 3vw;

}
.contact-close-modal{
  width: 10vw;
  
} 

/* resume modal */

.background-image-modal{

  width: 80vw;
  height: auto;
  
}
.resume-close-modal{

  display: none;

}

.resume-download-button{
   width: 8% ;
  margin-top: 3.5vh;
  position: absolute;

  left:70vw; 
  

}

.resume-linkedin{
  width: 8% ;
  margin-top: 3.5vh;
  position: absolute;

  left:60vw;
}

.resume-bitbucket{
  width: 8% ;
  margin-top: 3.5vh;
  position: absolute;

  left:55%;
}

}


@media screen and (min-width: 2000px) {
  .main-content{
    width: 60vw;
  }  
}

.ant-modal-close-x{
  display: none !important;
}

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  } 

  



